body{
    background-color: rgb(98, 20, 2);
    color: white;
    font-family:Roboto;
}
.header__container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.header__list{
    display: flex;
    list-style-type: none;
}
.header__item{
    margin-left: 20px;
    
}
.header__account{
    display: flex;
    align-items: center;
}